*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 85px;
  padding: 0 2.5%;
  z-index: 1;
}

.logo {
  color: #6699ff;
  font-family: 'Open Sans', sans-serif;
}

.logo span {
  position: relative;
  top: 10px;
  color: #fff;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 16%;
}

.menu-item {
  color: #6699ff;
  text-decoration: none;
  font: 400 1rem 'Open Sans', sans-serif;
}

.menu-item:hover {
  border-bottom: 2px solid #6699ff;
}

.intro {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  
  background: url('./img/cover.jpg') no-repeat center;
  background-attachment: fixed;
  background-size: cover;
}

.intro:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
}

.title {
  width: 80%;
  color: #fff;
  font: 400 3.3rem 'Indie Flower', sans-serif;
  z-index: 1;
}

.title span {
  color: #6699ff;
}

.about {
  padding: 5rem 0;
  background-color: #000;
}

.about-us {
  width: 70%;
  margin: 0 2rem;
  color: #fff;
  text-align: center;
  font: 400 1.4rem 'Open Sans', sans-serif;
}

.faq {
  width: 70%;
  margin: 0 auto;
}

.faq-title {
  text-align: center;
  color: #6699ff;
  font: 400 3.3rem 'Inconsolata', sans-serif;
}

.question-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 766px;
  width: 100%;
  margin: 1.5rem auto;
}

.plus {
  display: inline-block;
  margin-right: .5rem;
  cursor: pointer;
  color: #6699ff;
  font-size: 2.25rem;
}

.question {
  display: block;
  color: #fff;
  font: 400 2rem 'Indie Flower', sans-serif;
}

.answer,
.answer--is-visible {
  display: none;
  width: 100%;
  margin-top: 1rem;
  color: #fff;
  font: 400 1rem 'Open Sans', sans-serif;
}

.answer--is-visible {
  display: inline-block;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 3rem 0;
  background-color: #fff;
}

.contact-title {
  margin-bottom: 1.5rem;
  text-align: center;
  color: #6699ff;
  font: 400 3.3rem 'Inconsolata', sans-serif;
}

.contact-description {
  display: inline-block;
  margin: 0 0 1.5rem;
  font: 400 1.2rem 'Open Sans', sans-serif;
}

.fa-envelope:before {
  color: #000;
  font-size: 3.5rem;
}